@model IEnumerable<WebEscola.Models.Aluno>
@using WebEscola.Helpers;

@{
    ViewBag.Title = "Listagem de alunos";
}

<h2>@ViewBag.Title</h2>
@{
    var mensagem = TempData["ListMessage"];
    if (TempData["ListMessage"] != null)
    {
        <div class="alert alert-success">
            @mensagem
        </div>
    }
}

<p>
    @Html.ActionLink("Novo", "Novo")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.TextoTrucadoFor(modelItem => item.Nome, 20)
            </td>
            <td>
                @Html.ActionLink("Editar", "Editar", new { id = item.ID }) |
                @Html.ActionLink("Excluir", "Excluir", new { id = item.ID })
            </td>
        </tr>
    }

</table>
